POSTGRES_DRIVER=postgresql
POSTGRES_HOST=localhost
POSTGRES_NAME=siat
POSTGRES_USER=admin
POSTGRES_PASS=admin123
POSTGRES_PORT=5432

# # Usar si no se quiere utilizar una base de datos local
# DB_DRIVER=postgresql
# DB_HOST=ep-dark-frost-acbyqy2o-pooler.sa-east-1.aws.neon.tech
# DB_NAME=neondb?sslmode=require
# DB_USER=neondb_owner
# DB_PASS=npg_CZqzv01FbfpJ
# DB_PORT=5432